<%- include("template/header"); %>
<style>
  
    button.btn-outline-success {
        width: 43px;
        height: 43px
    }

    .uploaded-image {
        max-width: 1000px;
        max-height: 200px;
    }

</style>
<div class="container">
    <form action="" method="POST">
        <p>Inserisci la luminosità</p>
        <input type="number" name="brigImage" min=0 max=100 required>

        <p>Selezionare velocità di scorrimento</p>

        <input type="radio" name="speedImage" value="max">Velocità massima<br>
        <input type="radio" name="speedImage" value="medium" checked>Velocità media<br>
        <input type="radio" name="speedImage" value="min">Velocità bassa<br>

        <input type="checkbox" name="selectClock">Aggiungere data e ora alla fine?<br>

        <div style="display: inline-flex; margin: auto; margin-top: 3px">
            <span>Inserire 0 e 0 per far scorrere all'infinito</span>
            <div style="display: inline-flex;">
                <input type="text" name="hours" required>
                <span>Ore</span>
            </div>
            <p style="margin: auto; margin-left: 15px; margin-right: 15px">:</p>
            <div style="display: inline-flex;">
                <input type="text" name="minutes" required>
                <span>Minuti</span>
            </div>
        </div>

        <button style="display: block; margin: auto; margin-top: 10px" class="btn btn-outline-primary"
            type="submit">Aggiorna</button>
    </form>
    <div class="container">
        <form action="/delete" method="POST">
            <div>
                <div> Lista immagini attualmente caricate </div>
                <% if(imageList.length > 0) { %>
                    <% imageList.forEach( function (element) { %>
                        <div class="alert alert-info">
                            <p><%= element.name%></p>
                            <ul style="display: inline-flex; list-style-type: none">
                                <li>
                                    <button type="submit" style="margin-right: 3px; border-radius: 30px;" name="remove" value="<%= element.name %>" class="btn btn-outline-danger">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </li>
                                <li>
                                    <img class="uploaded-image" src="<%= element.imgSrc %>">
                                </li>
                            </ul>
                            <button type="submit" name="add" value="0" class="btn btn-outline-success" style="margin: auto; display: block; border-radius: 30px;">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    <% }) %>
                <% } else { %>
                    <button type="submit" name="add" value="0" class="btn btn-outline-success"
                        style="margin: auto; display: block; border-radius: 30px;"><i class="fas fa-plus"></i></button>
                <% } %>
                </div>
        </form>
    </div>
</div>

<%- include("template/footer"); %>